include musicfox_dash_components/musicfox_dash_components.min.js
include musicfox_dash_components/musicfox_dash_components.min.js.map
include musicfox_dash_components/metadata.json
include musicfox_dash_components/package-info.json
include README.md
include LICENSE
include package.json
